<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
            border-radius: 10px;
    
        }
    
        /* Track */
        ::-webkit-scrollbar-track {
            background-color: #97c5d9;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
        }
    
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background:   #64748b  ;
            border-radius: 10px;
        }
    
        ::-webkit-scrollbar-corner {
            display: none;
        }
    </style>
</head>
<body class="overflow-scroll h-full ">
    <div class="stars z-0">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
      <div class="fixed-stars">
        <!-- Add 100 .fixed-star elements -->
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <div class="fixed-star"></div>
        <!-- Repeat or generate dynamically -->
      </div>
      <style>
        .bord{
            border-bottom: 1px solid #ffffff; /* Active link bottom border */
            }
       
      </style>
    <nav class="sticky top-0 flex flex-wrap items-center justify-between p-3 bg-white md:bg-black bg-opacity-20 z-50">
        <img class="" src="/static//LOGO-ENSAK.png" width="60" height="60" />

        <div class="flex md:hidden">
            <button id="hamburger">
              <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="48" height="48" />
              <img class="toggle hidden" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="48" height="48" />
            </button>
        </div>
        <div class="toggle hidden w-full md:w-auto md:flex text-right text-bold mt-5 md:mt-0 border-t-2 border-teal-900 md:border-none">
            <a href="/imagegrey"
               class="block md:inline-block text-gray-400 hover:text-white  px-3 py-3 border-b-2 border-teal-900 md:border-none
                      {% if request.path == '/imagegrey' %} bord{% endif %} z-50">
                image grey
            </a>
            <a href="/imagecolor"
               class="block md:inline-block text-gray-400 hover:text-white  px-3 py-3 border-b-2 border-teal-900 md:border-none
                      {% if request.path == '/imagecolor' %} bord{% endif %} z-50">
                image color
            </a>
            <a href="/audio"
               class="block md:inline-block text-gray-400 hover:text-white  px-3 py-3 border-b-2 border-teal-900 md:border-none
                      {% if request.path == '/audio' %} bord{% endif %} z-50">
                audio
            </a>
            <a href="/compare_compression"
               class="block md:inline-block text-gray-400 hover:text-white  px-3 py-3 border-b-2 border-teal-900 md:border-none
                      {% if request.path == '/compare_compression' %} bord{% endif %} z-50">
                SVD vs JPEG
            </a>
        </div>
        
        <a href="/" 
            class="toggle hidden md:flex w-full md:w-auto px-4 py-2 text-right bg-slate-900 rounded-3xl mt-2 hover:bg-slate-500 text-white md:rounded">Home
        </a>
    </nav>
<div class="overflow-scroll">
    {% block body %}
    {% endblock %}

</div>
</body>
</html>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
document.getElementById("hamburger").onclick = function toggleMenu() {
    const navToggle = document.getElementsByClassName("toggle");
    for (let i = 0; i < navToggle.length; i++) {
        navToggle.item(i).classList.toggle("hidden");
    }
};
</script>
