{% extends 'base.html' %}
{% block body %}
<div class="bd">
    <div class="p-7 backdrop-blur-[8px] shadow-md shadow-gray-500 rounded">
        <h1 class="text-xl text-bold text-white">Compression des images en couleur</h1>
        <form action="/compare_compression" method="post" enctype="multipart/form-data" id="compressForm">
            <div class="container">
                <div class="drag-drop-area text-white bg-gray-900" id="dragDropArea">
                    <div class="max-h-[50px] max-w-[50px]" id="output"></div>
                    <p>Drag & Drop your files here</p>
                    <div class="relative inline-flex group">
                        <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"></div>
                        <a href="" id="chooseFileButton" title="Get quote now" class="relative inline-flex items-center justify-center px-6 py-3 text-sm font-bold text-white transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" role="button">Choose Files</a>
                    </div>
                </div>
                <input name="image" type="file" id="fileInput" accept="image/*" required style="display: none;" />
            </div>
            
            <!-- <div class="relative inline-flex group">
                <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"></div>
                <button id="submit" title="Get quote now" class="relative inline-flex items-center justify-center px-6 py-3 text-sm font-bold text-white transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" type="submit">Submit</button>
            </div> -->
            <button  class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-indigo-600 transition duration-300 ease-out border-2 border-purple-500 rounded-full shadow-md group" type="submit">
                <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-purple-500 group-hover:translate-x-0 ease">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                </span>
                <span class="absolute flex items-center justify-center w-full h-full text-purple-500 transition-all duration-300 transform group-hover:translate-x-full ease">Submit</span>
                <span class="relative invisible">Submit</span>
            </button>
            <!-- Loading Circle -->
            <div id="loading" class="hidden mt-4 flex justify-center">
                <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-b-2 border-sky-500"></div>
            </div>
        </form>
    </div>
</div>
<div class="w-full flex  justify-center items-center">

    {% if original_image_path  %}
    <div class="w-fit rounded-3xl flex flex-col justify-center items-center bg-gray-300 p-10 z-40">
        
        <h1 class="text-bold text-3xl">Image Compression Comparison</h1>
        
        <div class="flex flex-col items-center">
            <h2>Original Image</h2>
            <img src="{{ original_image_path }}" alt="Original Image" style="width:300px;">
        </div>
        
        <div class="flex flex-col items-center">
            <h2 class="text-bold text-xl">SVD Compression Results</h2>
            <ul class="flex gap-3 items-center">
                {% for k, mse, gain, path in zip(k_values, svd_mse, svd_gain, svd_images_path) %}
                <li class="flex flex-col items-center">
                <h3>k={{ k }}</h3>
                <p>MSE: {{ mse }}</p>
                <p>Compression Gain: {{ gain * 100 | round(2) }}%</p>
                <img src="{{ path }}" alt="SVD k={{ k }}" style="width:300px;">
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="flex flex-col items-center">
        <h2 class="text-bold text-xl">JPEG Compression Results</h2>
        <ul class="flex gap-5 items-center">
            {% for quality, mse, gain, path in zip(jpeg_quality, jpeg_mse, jpeg_gain, jpeg_images_path) %}
            <li class="flex flex-col items-center">
                <h3>Quality={{ quality }}</h3>
                <p>MSE: {{ mse }}</p>
                <p>Compression Gain: {{ gain * 100 | round(2) }}%</p>
                <img src="{{ path }}" alt="JPEG Quality={{ quality }}" style="width:300px;">
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

{% endif %}
</div>
<script>
    document.getElementById('compressForm').addEventListener('submit', function () {
        // Show the loading circle
        document.getElementById('loading').classList.remove('hidden');
    });
</script>

{% endblock %}
