{% extends 'base.html' %}
{% block head %}
<title>Grey image</title>
{% endblock %}
{% block body %}
<div class="bd">
    <div class="p-7 backdrop-blur-[8px] shadow-md shadow-gray-500 rounded">
        <h1 class="text-xl text-bold text-white">Compression des image en niveaux de gris</h1>
        <form action="/imagegrey" method="post" enctype="multipart/form-data" id="compressForm">
            <div class="p-4 rounded-lg">
                <div class="relative bg-[#333569] rounded-lg">
                    <input type="number" id="k" name="k" class="peer bg-transparent h-10 w-full rounded-lg text-gray-200 placeholder-transparent ring-2 px-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600" placeholder="K:" />
                    <label for="k" class="absolute cursor-text left-0 -top-3 text-sm text-gray-500 bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-sky-600 peer-focus:text-sm transition-all">K:</label>
                </div>
            </div>
            <div class="container">
                <div class="drag-drop-area text-white bg-gray-900" id="dragDropArea">
                    <div class="max-h-[50px] max-w-[50px]" id="output"></div>
                    <p>Drag & Drop your files here</p>
                    <div class="relative inline-flex group">
                        <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"></div>
                        <a href="" id="chooseFileButton" title="Get quote now" class="relative inline-flex items-center justify-center px-6 py-3 text-sm font-bold text-white transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" role="button">Choose Files</a>
                    </div>
                </div>
                <input name="image" type="file" id="fileInput" accept="image/*" required style="display: none;" />
            </div>
            
            <!-- <div class="relative inline-flex group">
                <div class="absolute transition-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt"></div>
                <button id="submit" title="Get quote now" class="animate-ping relative inline-flex items-center justify-center px-6 py-3 text-sm font-bold text-white transition-all duration-200 bg-gray-900 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" type="submit">Submit</button>
            </div> -->
            <button  class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-indigo-600 transition duration-300 ease-out border-2 border-purple-500 rounded-full shadow-md group" type="submit">
                <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-purple-500 group-hover:translate-x-0 ease">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                </span>
                <span class="absolute flex items-center justify-center w-full h-full text-purple-500 transition-all duration-300 transform group-hover:translate-x-full ease">Submit</span>
                <span class="relative invisible">Submit</span>
            </button>
            <!-- Loading Circle -->
            <div id="loading" class="hidden mt-4 flex justify-center">
                <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-b-2 border-sky-500"></div>
            </div>
            <a href="/static/1733628133_6kOJmN_reconstructed_image.png" download
                type="button"
                data-twe-ripple-init
                data-twe-ripple-color="light"
                class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                Click me
            </a>
            
        </form>
    </div>
</div>
{% if original_image_path and reconstructed_image_path %}
<div class="w-full  flex justify-center items-center z-40">

    <div class="w-fit grid grid-col justify-center mb-5  rounded-xl p-5 bg-gray-300">
        <div class="flex flex-col items-center justify-center w-full p-5">
            <p><strong>Compression Gain:</strong>{{ gain | round(2) }}%</p><br>
            <p><strong>Mean Squared Error (EQM):</strong>{{ eqm | round(4) }}</p><br>
            <p><strong>k:</strong>{{ k }}</p><br>
            
        </div>
    <table class="mx-5">
        <tr>
            <th class="px-4">
                <p  class="text-center"><strong>Original Image:({{ taille_brute | round(2)  }} ko)</strong></p>
                
            </th>
            <th class="px-4">
                
                <p class="text-center"><strong>Reconstructed Image:({{ taille_compressee | round(2)  }} ko)</strong></p>
            </th>
            <th>
            </tr>
            <tr>
                <td>
                <div class="flex justify-center z-50">
                    <img src="{{ original_image_path }}" alt="Original Image" class="z-50" width="200">
                </div>
                
            </td>
            <td>
                <div class="flex justify-center z-50">
                    <img src="{{ reconstructed_image_path }}" alt="Reconstructed Image" class="z-50" width="200">
                </div>
                
            </td>
        </tr>
        <tr>
            <td></td>
            <td>    <a href="/static/1733628133_6kOJmN_reconstructed_image.png" class="button dark" download="reconstructed_image.png">
                <ul>
                    <li>&#68;ownload</li>
                    <li>&#68;ownloading</li>
                    <li>Open File</li>
                </ul>
                <div>
                    <svg viewBox="0 0 24 24"></svg>
                </div>
            </a></td>
        </tr>
    </table>
    
    
</div>
</div>
{% endif %}
<!-- <div class="container">

    <a href="" class="button">
        <ul>
            <li>&#68;ownload</li>
            <li>&#68;ownloading</li>
            <li>Open File</li>
        </ul>
        <div>
            <svg viewBox="0 0 24 24"></svg>
        </div>
    </a>

    <a href="" class="button dark-single">
        <div>
            <svg viewBox="0 0 24 24"></svg>
        </div>
    </a>

    <div></div>

    <a href="" class="button white-single">
        <div>
            <svg viewBox="0 0 24 24"></svg>
        </div>
    </a>

    <a href="/static/1733628133_6kOJmN_reconstructed_image.png" class="button dark" download="reconstructed_image.png">
        <ul>
            <li>&#68;ownload</li>
            <li>&#68;ownloading</li>
            <li>Open File</li>
        </ul>
        <div>
            <svg viewBox="0 0 24 24"></svg>
        </div>
    </a>

</div> -->

<!-- dribbble -->
<!-- <a class="dribbble" href="https://dribbble.com/shots/7299868-Download-Buttons" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a> -->
<script>
    document.getElementById('compressForm').addEventListener('submit', function () {
        // Show the loading circle
        document.getElementById('loading').classList.remove('hidden');
    });
</script>
<script>
    // Initialization for ES Users
import {
  Ripple,
  initTWE,
} from "tw-elements";

initTWE({ Ripple });
</script>
{% endblock %}
